<<<<<<< HEAD
$beige : #F4EBDC;
$brown : #956e4b;
$dark_brown : #281E13;
=======
$beige : #F4EBDC;
$brown : #956e4b;
$dark_brown : #281E13;
>>>>>>> 34ecc9f7bef09de57b1764686ea6492f8c5b7a54
$wine : #821E1E;