@charset "utf-8";
@import "_var", "_mixin";

@font-face{
    font-family: NanumSquare;
    font-weight: 300;
    font-style: normal;
    src: url("../font/NanumSquareL.eot");
    src: url("../font/NanumSquareL.eot#iefix") format("embedded-opentype"),
    url("../font/NanumSquareL.woff2") format("woff2"),
    url("../font/NanumSquareL.woff") format("woff"),
    url("../font/NanumSquareL.ttf") format("truetype");
}
@font-face{
    font-family: NanumSquare;
    font-weight: 400;
    font-style: normal;
    src: url("../font/NanumSquareR.eot");
    src: url("../font/NanumSquareR.eot#iefix") format("embedded-opentype"),
    url("../font/NanumSquareR.woff2") format("woff2"),
    url("../font/NanumSquareR.woff") format("woff"),
    url("../font/NanumSquareR.ttf") format("truetype");
}
@font-face{
    font-family: NanumSquare;
    font-weight: 600;
    font-style: normal;
    src: url("../font/NanumSquareB.eot");
    src: url("../font/NanumSquareB.eot#iefix") format("embedded-opentype"),
    url("../font/NanumSquareB.woff2") format("woff2"),
    url("../font/NanumSquareB.woff") format("woff"),
    url("../font/NanumSquareB.ttf") format("truetype");
}
@font-face{
    font-family: scDream;
    font-weight: 400;
    font-style: normal;
    src: url("../font/S-CoreDream-4Regular.eot");
    src: url("../font/S-CoreDream-4Regular.eot#iefix") format("embedded-opentype"),
    url("../font/S-CoreDream-4Regular.woff2") format("woff2"),
    url("../font/S-CoreDream-4Regular.woff") format("woff"),
    url("../font/S-CoreDream-4Regular.ttf") format("truetype");
}
@font-face{
    font-family: scDream;
    font-weight: 500;
    font-style: normal;
    src: url("../font/S-CoreDream-5Medium.eot");
    src: url("../font/S-CoreDream-5Medium.eot#iefix") format("embedded-opentype"),
    url("../font/S-CoreDream-5Medium.woff2") format("woff2"),
    url("../font/S-CoreDream-5Medium.woff") format("woff"),
    url("../font/S-CoreDream-5Medium.ttf") format("truetype");
}

// tag reset
body, h1, h2, h3, h4, h5, p, ul, button, form{margin: 0;padding: 0;}
h1, h2, h3, h4, h5{font-size: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none;color: inherit;}
button{border: none;background: none;cursor: pointer;}
button{font-family: inherit;font-size: inherit;color: inherit;line-height: inherit;}
img{border: none;vertical-align: top;}
img, figure, video{max-width: 100%;}
address{font-style: normal;}
header, nav, section, aside, footer{display: block;}

// common class
.f_l{float: left;}
.f_r{float: right;}
.p_r{position: relative;}
.p_a{position: absolute;}
.clearfix::after{content: "";display: block;clear: both;}
.blind-b{width: 1px;height: 1px;overflow: hidden;position: absolute;border: none;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}

// skip
#skip a{
    position: absolute;top: 0;left: -9999px;z-index: 10001;
    &:focus{left: 0;width: 100%;background: $wine;text-align: center;height: 50px;line-height: 50px;font-weight: 600; color: #ffffff;}
  }

// body
body{font-family: NanumSquare, scDream; font-size: 1.0417vw; color: $dark_brown; line-height: 1; font-weight: 400;
    *{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
}

//fade
.fade{
    @include transition(all 1s);
    opacity: 0;
    // 수직은 translateY => 기준 아래는 +, 기준 위는 -
    &.up{@include transform(translateY(11.1111vw));}
    &.down{@include transform(translateY(-11.1111vw));}
    // 수평은 translateX => 기준 오른쪽 +, 기준 왼쪽 -
    &.left{@include transform(translateX(11.1111vw));}
    &.right{@include transform(translateX(-11.1111vw));}
  }
  .fade.on{
    opacity: 1;
    &.up, &.down{@include transform(translateY(0px));}
    &.left, &.right{@include transform(translateX(0px));}
  }