@charset "utf-8";
@import "_var", "_mixin";

#wrap{min-width: 20rem;}

// #header
.header{
 position: relative;
  width: 100%;  z-index: 10000;  color: #ffffff;
  font-family: scDream;
  .logo{
    a{
      @include bgsize(cover);
      display: block; background-image: url("../images/common/hill_logo_white.svg"); 
    }
  }
}

#pcHeader{ 
    display: block;
    position: absolute; top: 0;left: 0; width: 100%;text-align: center; 
    background: rgba(40, 30, 19, 0.15);
    .logo{
        float: left;
        a{display: block;width: 4.6875vw; height: 3.90625vw; 
            margin-left: 7.8125vw;
        }
    }
    // depth1
    .dep1{ 
        padding-top: 1.822916667vw; float: left; padding-left: 6.770833333vw;
        li{width: 7.8125vw;}
        >li{
            position: relative; top: 0;left: 0; display: inline-block; vertical-align: top;
            a{display: block;}
            +li{
            margin-left: 4.166666667vw;
            }
            >a{padding-bottom: 1.40625vw;}
            &:hover, &:focus{ font-weight: 500;}
        }
        a:hover, a:focus{color: $brown;}
        
    // depth2
    .dep2{
       font-weight: 400; padding-bottom: 2.604166667vw;
       color: $dark_brown;
       &::before{content: ""; display: block; padding-top: 1.979166667vw;}
       li{display: flex; justify-content: center;
           a{position: relative; top: 0;left: 0;width: fit-content;
            &::after{content: ""; position: absolute; bottom: -0.520833333vw;left: 0; width: 0%;height: 0.104166667vw; background: $brown;}
            &:hover::after, &:focus::after{@include transition (width 0.5s); width: 100%;}
            }
            +li{margin-top: 2.604166667vw;}
        }
    }
    }

}
.util{
    position: absolute; top: 0;right: 7.8125vw; width: 7.8125vw;
    padding-top: 1.5625vw;
    li{ 
        display: inline-block; width: 1.5625vw;
        a{display: block; width: 1.5625vw; height: 1.5625vw;}
        +li{
            margin-left: 2.6042vw;
            }
    }
    .calendar a{
        @include bgsize(cover); 
        background-image: url("../images/common/hd_calendar_white.svg");}
    .login a{
        @include bgsize(cover); 
        background-image: url("../images/common/hd_login_white.svg");}
}
#pcHeader.on{ color: $brown;background: rgba(255, 255, 255, 0.95);
    .logo a{background-image: url("../images/common/hill_logo_red.svg") ; }
    .calendar a{background-image: url("../images/common/hd_calendar_dark.svg");}
    .login a{background-image: url("../images/common/hd_login_dark.svg");}

}

//모바일 네비게이션
#mHeader{
    display: none; 

    &.on{
        a{background-image: none;}
    }
}


#footer{ 
    width: 100%; height: 100%; background: $dark_brown; border-top: 0.052083333vw solid #ffffff; margin-top:1.25vw;
    .ft_top{
        height: 5.208333333vw; border-bottom: 0.052083333vw solid $beige;
        li{float: left; font-size: 0.9375vw; color: #fff; margin-left: 7.8125vw;
            line-height:5.208333333vw;
            +li{margin-left: 6.25vw;}
        }
        .call{color: $beige; margin-left: 30.208333333vw; line-height: 5.208333333vw;
            img{display: inline-block; width: 3.125vw;height: 3.125vw; margin-top:1.302083333vw;}
            strong{ font-size: 2.083333333vw; }
        }
    }
    .ft_bottom{
        color: $beige;  padding: 1.302083333vw 7.8125vw 0 7.8125vw; width: 100%;
        display: flex; justify-content:flex-start; 
        h4{
        img{width: 8.416667vw;height: 2.083333333vw;}
        }   
        .long_txt{ font-size: 0.78125vw; margin-left: 3.125vw;
            address{margin: 0.78125vw 0;}
        }
    button{width: 14.583333333vw;height: 2.90625vw; border: 0.052083333vw solid $beige;
        span{display: inline-block; width: 1.302083333vw; height: 1.041666667vw;  @include bgsize(cover); 
            background: url("../images/common/m_nav_arrow.svg") no-repeat;margin-left: 3.645833333vw;}
    }
    }
    .ft_end{
        width: 20.833333333vw; margin-left: 29.166666667vw;
        .sns{width: 14.583333333vw;height: 2.083333333vw; margin: 1.302083333vw 0;
            text-align: center;
            li{display: inline-block;
                a{display: inline-block; width: 2.083333333vw; height: 2.083333333vw;}
                +li{margin-left: 2.604166667vw;}
            }
        }
}
}

//반응형

@media screen and (max-width: 1439px) {
    #pcHeader{display: none;}
    #mHeader{
    display: block;
    position: fixed; top: 0; right: 0; z-index: 10000; width: 100%;
    .on_top{display: block; background: rgba(40, 30, 19, 0.5); height: 85px;
        .btn_line{display: inline-block; height: 8.7890625vw;width: 16.666666667vw;
            .line{position: absolute; display: block; left: 4.166666667vw; width: 8.333333333vw; height: 0.416666667vw;background: #fff;}
            .line.top{top: 25px; @include transition(all 0.5s);}
            .line.mid{width: 6.388888889vw; top:45px;}
            .line.btm{top:65px; @include transition(all 0.5s);}
            &.on{ //@include
            .line.top{transform: translateY(20px); @include transition(all 0.5s);}
            // .line.mid{transform: translateY();}
            .line.btm{transform: translateY(-20px); @include transition(all 0.5s);}
            }
        }
        .logo{display: inline-block; position: absolute; top: 0; left: calc(50% - 6.944444444vw);}
        .logo a{display: block; width: 90px;height: 90px;}
        .login a{display: block; background: url("../images/common/hd_login_white.svg") no-repeat; width: 50px;height: 50px; position: absolute; top: 20px; right: 4.166666667vw;
        }
    }
    .mgnb_wrap{ 
        position: fixed;top: 85px;left: -100%;bottom: 0;width: 100%;padding-bottom: 30px;visibility: hidden; overflow-y: auto;background: $dark_brown;
        background: $dark_brown;
        .m_calender{width: 100%; height:120px; background: $brown; font-size: 5.5556vw;font-weight: 600; font-family: NanumSquare; text-align: center;
            padding: 5.5556vw 0;
            a{display: block;}
        }
        .dep1{
            padding-top: 8.3333vw; padding-left: 9.722222222vw; position: relative;
            >li{ position: relative; 
                >a{display: block; font-size: 50px;
                &::after{content: ""; display: inline-block; background-image: url("../images/common/m_nav_arrow.svg"); width: 5.5556vw; height: 5.5556vw;position: absolute; top: 0; right: 9.722222222vw;}
                }
                &.on{
                    a::after{@include transform (rotate(180deg)); @include transition(all 0.4s);}}
                +li{margin-top: 12.5000vw;}
        }
        }
        .dep2{margin-top: 5.5556vw; padding: 8.3333vw 0; 
            border-top: 0.2778vw solid rgba(244, 235, 220, 0.4); border-bottom: 0.2778vw solid rgba(244, 235, 220, 0.4);
            width: 90%;
            >li{
                >a{font-size: 4.1667vw;}
            +li{margin-top: 6.9444vw;}
            }
        }
        &::before{content: ""; position: absolute; bottom: 0;right: 0; background-image: url("../images/common/transparent_logo.svg"); width: 300px; height: 47.2222vw;}
    }
}
    .header.on{background: $dark_brown; 
        height: 100vh;
}

    // #footer{
    //     height: 250px; overflow: hidden;
    //     .ft_top{ height: 80px; position: relative; padding: 0 100px;
    //         li{line-height: 80px;}
    //         li:nth-child(1){margin-left: 45px;}
    //         a{font-size: 12px;}
    //         .call{height: 60px; width: 130px; margin-left: 195px; line-height: 80px;
    //             img{width: 28px;height: 35px; margin-top: 21px;}
    //             strong{font-size: 18px; line-height: 80px;}
    //         }
    //     }
    //     .ft_bottom{
    //         position: relative;
    //         h4{position: absolute; top: 40px;left: 145px;
    //             img{width: 100px;height: 17px;}
    //         }
    //         .long_txt{width: 100%; font-size: 11px; margin-left: 230px;}
    //     }
    //     .ft_end{width: 100%; margin-left: 55px;
    //     }
    // }
    #footer{
        height: 69.444444444vw; overflow: hidden;
        .ft_top{ height: 13.888888889vw; position: relative;
            li{line-height: 13.888888889vw;}
            li:nth-child(1){margin-left: 12.5vw;}
            a{font-size: 3.333333333vw;}
            .call{height: 16.666666667vw; width: 36.111111111vw; margin-left: 54.166666667vw; line-height: 16.666666667vw;
                img{width: 7.777777778vw;height: 9.722222222vw; margin-top: 3.055555556vw;}
                strong{font-size: 5.0vw; line-height: 15.277777778vw;}
            }
        &::after{content: ""; position: absolute; top: 30.555555556vw; left: 0; height: 0.277777778vw; width: 100%; background-color: $beige;}
        }
        .ft_bottom{
            display: block; position: relative;
            h4{position: absolute; top: 5.555555556vw;left: 12.5vw;
                img{width: 27.777777778vw;height: 4.722222222vw;}
            }
            .long_txt{margin-top: 19.444444444vw; font-size: 3.055555556vw;}
        }
        .ft_end{width: 100%; margin-left: 0.0vw; margin-top: 5.555555556vw; padding-left: 5.555555556vw;
        button{width: 41.666666667vw; height: 8.333333333vw; font-size: 3.055555556vw; line-height: 8.333333333vw;
            span{display: inline-block; width: 2.777777778vw; height: 2.222222222vw;@include bgsize(cover); 
                background: url("../images/common/m_nav_arrow.svg") no-repeat;margin-left: 12.5vw;}
        }
        .sns{display: inline-block; width: 23.611111111vw; margin-left: 8.333333333vw; line-height: 5.555555556vw;
        li{
            a{display: block; width: 5.555555556vw;height: 5.555555556vw;}
            +li{margin-left: 2.777777778vw;}
        }
    }
        }
    }
}

@media screen and (max-width: 767px) {
    #mHeader{
        display: block;
        position: fixed; top: 0; left: 0; z-index: 10000; width: 100%; 
        .on_top{display: block; background: rgba(40, 30, 19, 0.5); height: 13.888888889vw;
            .btn_line{display: inline-block; height: 13.888888889vw;width: 16.666666667vw;
                .line{position: absolute; display: block; left: 4.166666667vw; width: 8.333333333vw; height: 0.416666667vw; background: #fff; background: #fff;}
                .line.top{top: 4.166666667vw; @include transition(all 0.5s);}
                .line.mid{width: 6.388888889vw; top: 6.944444444vw;}
                .line.btm{top: 9.722222222vw; @include transition(all 0.5s);}
                &.on{ //@include
                .line.top{transform: translateY(10px); @include transition(all 0.5s);}
                // .line.mid{transform: translateY();}
                .line.btm{transform: translateY(-10px); @include transition(all 0.5s);}
                }
            }
            .logo{display: inline-block; position: absolute; top: 0; left: calc(50% - 6.944444444vw);}
            .logo a{display: block; width: 13.888888889vw;height: 11.111111111vw;}
            .login a{display: block; background: url("../images/common/hd_login_white.svg") no-repeat; width: 6.944444444vw;height: 6.944444444vw; position: absolute; top: 3.611111111vw; right: 4.166666667vw;
            }
        }
        .mgnb_wrap{ 
            top: 50px;
            background: $dark_brown;
            .m_calender{width: 100%; height: 16.6667vw; background: $brown; font-size: 5.5556vw;font-weight: 600; font-family: NanumSquare; text-align: center;
                padding: 5.5556vw 0;}
            .dep1{
                padding-top: 8.3333vw; padding-left: 9.722222222vw; position: relative;
                >li{ position: relative; 
                    >a{display: block; font-size: 6.9444vw;
                    &::after{content: ""; display: inline-block; background-image: url("../images/common/m_nav_arrow.svg"); width: 5.5556vw; height: 5.5556vw;position: absolute; top: 0; right: 9.722222222vw;}
                    }
                    &.on{
                        a::after{@include transform (rotate(180deg)); @include transition(all 0.4s);}}
                    +li{margin-top: 12.5000vw;}
            }
            }
            .dep2{margin-top: 5.5556vw; padding: 8.3333vw 0; 
                border-top: 0.2778vw solid rgba(244, 235, 220, 0.4); border-bottom: 0.2778vw solid rgba(244, 235, 220, 0.4);
                width: 90%;
                >li{
                    >a{font-size: 4.1667vw; z-index: 10;}
                +li{margin-top: 6.9444vw;}
                }
            }
            &::before{content: ""; position: absolute; bottom: 0;right: 0; background-image: url("../images/common/transparent_logo.svg"); width: 165px; height: 100px;}
        }
    }
    #footer{
        height: 69.444444444vw; overflow: hidden; border-top: 1px solid $beige;
        .ft_top{ height: 13.888888889vw; position: relative;
            li{line-height: 13.888888889vw;}
            li:nth-child(1){margin-left: 12.5vw;}
            a{font-size: 3.333333333vw;}
            .call{height: 16.666666667vw; width: 36.111111111vw; margin-left: 54.166666667vw; line-height: 16.666666667vw;
                img{width: 7.777777778vw;height: 9.722222222vw; margin-top: 3.055555556vw;}
                strong{font-size: 5.0vw; line-height: 15.277777778vw;}
            }
        &::after{content: ""; position: absolute; top: 30.555555556vw; left: 0; height: 0.277777778vw; width: 100%; background-color: $beige;}
        }
        .ft_bottom{
            display: block; position: relative;
            h4{position: absolute; top: 5.555555556vw;left: 12.5vw;
                img{width: 27.777777778vw;height: 4.722222222vw;}
            }
            .long_txt{margin-top: 19.444444444vw; font-size: 3.055555556vw;}
        }
        .ft_end{width: 100%; margin-left: 0.0vw; margin-top: 5.555555556vw; padding-left: 5.555555556vw;
        button{width: 41.666666667vw; height: 8.333333333vw; font-size: 3.055555556vw; line-height: 8.333333333vw;
            span{display: inline-block; width: 2.777777778vw; height: 2.222222222vw;@include bgsize(cover); 
                background: url("../images/common/m_nav_arrow.svg") no-repeat;margin-left: 12.5vw;}
        }
        .sns{display: inline-block; width: 23.611111111vw; margin-left: 8.333333333vw; line-height: 5.555555556vw;
        li{
            a{display: block; width: 5.555555556vw;height: 5.555555556vw;}
            +li{margin-left: 2.777777778vw;}
        }
    }
        }
    }
}