@charset "utf-8";
@import "_var", "_mixin";

/* 
기본pc => 태블릿 => 모바일
*/
#wrap{min-width: 20rem;} /* 320px => ? rem */

// #header
.header{ display: none; //pc, 모바일 공통 
  position: fixed;top: 0;left: 0;width: 100%; height: 100vh; z-index: 10000; background: rgba(40, 30, 19, 0.15); color: #ffffff;
  font-family: scDream;
  .logo{
    float: left;
    a{
      @include bgsize(cover);
      display: block; background: url("../images/common/hill_logo_white.svg") no-repeat;
    }
  }
}

#pcHeader{
    height: 31.25vw; padding: 0 7.8125vw;
.logo{
    padding-top: 15px;
    a{width: 4.6875vw; height: 3.90625vw;}
}

}
#pcHeader.on{border: 1px solid #000; color: $brown;
    //배경색 , 로고이미지, 아이콘이미지, dep1 색상 굵기
    .logo a{background-image: url("../images/common/hill_logo_red.svg");}
    .calendar{background-image: url("../images/common/hd_calendar_dark.svg");}
    .login{background-image: url("../images/common/hd_login_dark.svg");}

}

#pcGnb{ 
    display: inline-block; margin-left: 6.7708vw;
    padding-top: 2.083333333vw;
    >div{width: 59.895833333vw;}
    li{text-align: center; width: 7.8125vw;}
   
    // depth1
    .dep1{
        >li{
            position: relative; top: 0;left: 0; display: inline-block;
            a{display: block;}
            +li{
            margin-left: 4.166666667vw;
            }
        }
        a:hover, a:focus{color: $brown;}
        
    // depth2
    .dep2{
       position: absolute; top: 100px;left: 0;font-weight: 400;
       color: $dark_brown;
       >li{display: flex; justify-content: center;
           a{position: relative; top: 0;left: 0;width: fit-content;
            &::after{content: ""; position: absolute; bottom: -10px;left: 0; width: 0%; height: 2px; background: $brown;}
            &:hover::after, &:focus::after{@include transition (width 0.5s); width: 100%;}
            }
            +li{margin-top: 2.604166667vw;}
        }
    }
    }

}
.util{
    position: absolute; top: 0;right: 7.8125vw; width: 7.8125vw;
    padding-top: 1.5625vw;
    li{ 
        display: inline-block; width: 100%;
        a{display: block; width: 1.5625vw; height: 1.5625vw;}
        +li{
            margin-left: 2.6042vw;
            }
    }
    .calendar a{
        @include bgsize(cover); 
        background-image: url("../images/common/hd_calendar_white.svg");}
    .login a{
        @include bgsize(cover); 
        background-image: url("../images/common/hd_login_white.svg");}
}
#mHeader{display: none;}