
@charset "utf-8";
@import "_var", "_mixin";

//wrap
#cnt_wrap>section{background: #fff;}

// #cnt1
#cnt1{ 
    // display: none;
    .main_video{position: relative;}
    #videoBg{width: 100%;}
    #t_videoBg{display: none;}
    #m_videoBg{display: none;}
}

#tm_banner {display: none;}

// #cnt2
#cnt2{ 
    // display: none;
    #acco_box{overflow: hidden; margin-top: 1.5625vw; width: 100%;
    } 

    //.pc.hillAccodion
    .pc#acco_box{
     height: 30.729166667vw;
    h3{width: 9.114583333vw; height: 30.729166667vw;position: relative; float: left;
        button{
            position: relative; top: 11.458333333vw;left: -13.541666667vw; @include transform (rotate(90deg));
            font-size: 1.5625vw; color: #ffffff; width: 36.458333333vw; height: 7.8125vw; background: rgba(40, 30, 19, 0.8);
            &::after{content:""; background:$beige; width: 0.520833333vw; height: 5.208333333vw; display: block; bottom: 0;right: 5.208333333vw; position: absolute;}
            &:hover,&:focus{background: rgba(130, 30, 30, 0.6);}
            &:focus::before{content: "";position: absolute; top: 0;left: 0;width: 100%;height: 100%; outline: 0.052083333vw dashed $wine;}
        }
    }

    .accopanel{
        height: 30.729166667vw;width: 0; color: #ffffff;overflow: hidden; float: left;
        div{width: 50.520833333vw; margin-left: 7.81250vw;
        p{color: $beige; font-size: 1.302083333vw; padding-top: 3.12500vw; line-height: 1.71875vw;}
        strong{display: block;  font-size: 1.822916667vw; padding-top: 1.5625vw;}
        a{display: block; font-size: 0.93750vw; border: 0.052083333vw solid #fff; width: 7.8125vw;height: 2.604166667vw; line-height: 2.604166667vw; padding-left: 1.041666667vw; margin-top: 2.34375vw; position: relative;
        &:hover, &:focus{background-color: $wine; border: 0.052083333vw solid $wine; @include transition(all 0.3s);}
        }
        span{position: absolute; display: block; top: calc(50% - 0.390625vw);right: 1.041666667vw; width: 0.78125vw; height: 0.78125vw; background-image: url("../images/common/arrow_right.svg") ;}
        }
    }
    &.bg1{background-image: url("../images/main/acco_1_gapcheon.png") ;}
    &.bg2{background-image: url("../images/main/acco_2_manchon.png") ;}
    &.bg3{background-image: url("../images/main/acco_3_gangil.png") ;}
    &.bg4{background-image: url("../images/main/acco_4_pohang.png") ;}
    }

    .mobile#acco_box{
        height: 80%; width: 100%; color: #ffffff; overflow: hidden; background: none; background: rgba(40, 30, 19, 0.8);
        h3{       
            position: relative;font-size: 15px;
            button{ 
                text-align: right; padding-right: 40px;
                border-bottom: 1px solid $beige; @include border-box;
                display: block;position: relative; width: 100%;height: 60px; padding-left: 100px; 
                &::after{content:""; background:$beige; width: 3px; height: 30px; display: block; bottom: 1px;left: 60px; position: absolute;}
            }
        }
        h3.on{
            button{background: rgba(130, 30, 30, 0.85);}}
        >div{padding: 38px 40px 0 40px; height: 300px;display: none;
            p{color: $beige;font-size: 13px;}
            strong{display: block; font-size: 20px; margin-top: 10px;}
            a{display: block; position: relative; border: 1px solid #fff; 
                font-size: 12px; margin-top: 15px; width: 85px;height: 30px; line-height: 30px; padding: 0 10px;
                span{position: absolute; display: block; top:9px;right: 8px; width: 10px; height: 10px; background-image: url("../images/common/arrow_right.svg") ;}

            }
        }
        .accopanel{
            width: 100%;
        &.bg1{
            @include bgsize(cover);
            background: url("../images/main/m/acco_1_gapcheon_m1.png") no-repeat ;
            @media
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
            background: url("../images/main/m/2x/acco_1_gapcheon_m2.png") no-repeat;
            }}
        &.bg2{      
            @include bgsize(cover);
            background: url("../images/main/m/acco_2_manchon_t1.png") no-repeat ;
            @media
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
            background: url("../images/main/m/2x/acco_2_manchon_m2.png") no-repeat;
            }}
        &.bg3{
            @include bgsize(cover);
            background: url("../images/main/m/acco_3_gangil_t1.png") no-repeat ;
            @media
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
            background: url("../images/main/m/2x/acco_3_gangi_m2.png") no-repeat;
            }}
        &.bg4{
            @include bgsize(cover);
            background: url("../images/main/m/acco_4_pohang_m1.png") no-repeat ;
            @media
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx){
            background: url("../images/main/m/2x/acco_4_pohang_m2.png") no-repeat;
            }}
        }
    }
}

// #cnt3
#cnt3{ 
    // display: none;
    margin-top: 5.2083vw; background: rgba(244, 235, 220, 0.1); position: relative;
    .left{ margin: 0 0 5.2083vw 13.0208vw; display: inline-block;
        h5{display: inline-block;}

    .checklist{ padding-top: 60px; font-weight: 400; position: relative; 
    a{display: inline-block; font-size: 30px;padding-left: 65px;height: 220px;width: 600px; background: rgba(244, 235, 220, 0.4);padding-top: 60px;
        img{display: inline-block; width: 200px;height: 30px;}
        &:hover,&:focus{background:rgba(131, 89, 52, 0.4); color:#fff; @include transition(all 0.3s);}
    }
    &::after{content: ""; display: block; width: 500px; height: 2px; background-color: $brown; position: absolute; bottom: 100px;left: 50px;}
    }

    .notice{ height: 400px; width: 600px; margin-top: 50px; padding-top: 60px;
        background-image: url("../images/main/notice_bg.jpg"); @include bgsize(cover);
        >a{ position: relative;
            h5{font-size: 35px; padding-left: 70px; letter-spacing: 5px;}
            img{display: block; width: 45px;height: 30px; position: absolute; top: -5px;left: 480px;}
            &::after{content: ""; display: block; width: 500px; height: 2px; background-color: $brown; margin-left: 50px; margin-top: 15px;}
        }
        ul{float: left; padding: 50px 60px;font-size: 17px;}
        li{
            a{display: block;
            &:hover,&:focus{font-weight: 600;}}
            +li{margin-top: 45px;}
        }
    }
    }
    
    .left{ margin: 0 0 5.2083vw 13.0208vw; display: inline-block; position: relative;
        h5{display: inline-block;}

    .checklist{ padding-top: 3.1250vw; font-weight: 400; position: relative;  
    a{display: inline-block; font-size: 1.5625vw;padding-left: 3.3854vw;height: 11.4583vw;width: 31.2500vw; background: rgba(244, 235, 220, 0.4);padding-top: 3.1250vw;
        img{display: inline-block; width: 10.4167vw;height: 1.5625vw;}
        &:hover,&:focus{background:rgba(131, 89, 52, 0.4);  @include transition(all 0.3s);}
    }
    &::after{content: ""; display: block; width: 26.0417vw; height: 0.1042vw; background-color: $brown; position: absolute; bottom: 5.2083vw;left: 2.6042vw;}
    }

    .notice{ height: 20.8333vw; width: 31.2500vw; margin-top: 2.6042vw; padding-top: 3.1250vw;
        background-image: url("../images/main/notice_bg.jpg"); @include bgsize(cover);
        >a{ position: relative;
            h5{font-size: 1.8229vw; padding-left: 3.6458vw; letter-spacing: 0.2604vw;}
            img{display: block; width: 2.3438vw;height: 1.5625vw;  top: -0.2604vw;left: 25.0000vw;}
            &::after{content: ""; display: block; width: 26.0417vw; height: 0.1042vw; background-color: $brown; margin-left: 2.6042vw; margin-top: 0.7813vw;}
        }
        ul{float: left; padding: 2.6042vw 3.1250vw;font-size: 0.8854vw;}
        li{ white-space: nowrap;
            a{display: block;
                &:hover,&:focus{font-weight: 600;}}
            +li{margin-top: 2.3438vw;}
        }
    }
    }

    .magazine{ width: 36.4583vw;height: 36.4583vw; position: absolute; display: inline-block; top: 2.604166667vw;right: 13.0208vw; 
        a{ display: block;
        }
        .book{
            position: absolute; top: 0;right: -6.7708vw; width: 28.6458vw;height: 28.6458vw; z-index:5;
            img{display: block;  width: 23.4375vw;height: 27.6042vw;}
        }
        .stroke{ width: 28.6458vw;height: 28.6458vw;
            position: absolute; top: 6.7708vw; left: 5.2083vw; border: 4px solid $brown; 
            h5{display: inline-block; padding-top: 23.4375vw; padding-left: 2.6042vw; font-size: 1.5625vw;}
            img{display: inline-block; width: 3.3854vw;height: 2.0833vw; margin-top: 23.1771vw;margin-left: 0.7813vw; }
            &:hover, &:focus{background-color: $brown; color: #ffffff; @include transition(all 0.3s);}
        }   
    }

    .hillstory{
        position: relative; width: 100%; height: 400px; overflow: hidden;text-align: center; margin-top: 5.2083vw;
        @include transition (background 0.4s ease-in-out);
        background-image: url("../images/main/h_power.png");

        .storybox{
            a{display: block; 
            >img{position: absolute; top: 0;left: 0; z-index: -10; }
            strong{display: block; font-size: 45px;line-height: 100px; letter-spacing: 20px; color: #ffffff; padding-top: 5.2083vw;}
            div{float: right; width: 33.8542vw; height: 4.6875vw;  padding-left: 2.6042vw; background-color: #fff; z-index: 10; position: absolute; bottom: 0;right: 0; 
                h5{display: inline-block; font-size: 1.3021vw; color: $brown; line-height: 4.6875vw;}
                img{display: inline-block; width: 3.3854vw; height: 2.0833vw; margin-top: 1.302083333vw; margin-left: 2.0833vw;}
            }
            &:hover,&:focus{width: 100%;height: 400px; background: rgba(0, 0, 0, 0.302); z-index: -5; @include transition(all 1s);
            div{background-color: $beige; @include transition(all 0.1s);}}
            }
        }
    }
}

// #cnt4
#cnt4{
    margin-top: 10.4167vw;
    //pc3
    .pc_menu3{ 
        // display: none;
        width: 100%; position: relative;
        .red_line{ 
            width: 100%; height: 100%;
            &::before{content: ""; display: inline-block; position: absolute; height: 0.0521vw; background: $wine; top: 16.6667vw; left: 50%; width: 0%; 
            }
            &:hover::before{left: 11%; width: 40%; @include transition (all 0.5s);}
            &::after{content: ""; display: inline-block; position: absolute; height: 0.0521vw; background: $wine; top: 16.6667vw; left: 50%; width: 0%; }
            &:hover::after{width: 40%; @include transition (all 0.5s);}
        }
    
    .menu3{
        width: 100%; height: 46.8750vw; display: flex; justify-content: center;
        >li{display: inline-block; text-align: center; vertical-align:middle;  display:table-cell;}
        strong{display: block; font-size: 1.8229vw; font-weight: 400; height: 10.4167vw; padding-top: 10.4167vw;}

    .m3_first{ background: $beige; width: 33%;
        &::before{ content: ""; position: absolute; bottom: 0; left: 0; background-image: url("../images/common/menu3_logo.svg");width: 100%; height: 32.2917vw;}
    }
    .m3_second{ background: #fff; width: 34%;}
    .m3_third{ background: $beige; width: 33%;      
        &::before{content: ""; position: absolute; bottom: 0; right: 0;; background-image: url("../images/common/menu3_logo.svg");width: 100%; height: 32.2917vw;}

    }
    .m3_dep2{display: inline-block; height: 26.0417vw; margin-top: 9.3750vw;  position: relative; z-index: 10;
    li{line-height: 5.2083vw; overflow: hidden;}
    }
    li a{display: block; font-size: 1.4583vw;
    &:hover,&:focus{font-weight: 600;}
    }
    }
}
    //모바일 slider
    .m_menu3{ 
        display: none;
        .swiper-container {width: 100%; height: 100%;}
        .swiper-wrapper{width: 100%; height: 100vh; position: relative;}
        .swiper-slide{
            text-align: center; 
            // background: rgba(244, 235, 220, 0.4); 
            background:rgba(149, 110, 75, 0.15);
            strong{display: block; font-size: 30px; height: 280px; line-height: 280px; font-weight: 500; position: relative;}     
            ul{padding-top: 20px;}
            li{
                +li{margin-top: 50px;}
            }
            a{
            display: block; font-size: 20px;
            &:hover,&:focus{font-weight: 600;} 
            }
            &::after{content: ""; position: absolute; bottom: 0; left: 0; background: url("../images/common/menu3_logo.svg") no-repeat; width: 500px; height: 380px; }
        }              
        .slide_1{
            strong{                
                &::after{content: ""; display: inline-block; height: 1px; background: $wine; position: absolute; bottom: 55px; right: 0px; width: 80%;}
            }
            }
        .slide_2{
            strong{                
                &::after{content: ""; display: inline-block; height: 1px; background: $wine; position: absolute; bottom: 55px; right: 0px; width: 100%;}
            }
            }
        .slide_3{
            strong{                
                &::after{content: ""; display: inline-block; height: 1px; background: $wine; position: absolute; bottom: 55px; left: 0px; width: 80%;}
            }
        }
        .swiper-pagination{
            position: absolute; bottom: 45px;right: 0;
            .swiper-pagination-bullet{
                width: 15px; height: 35px; background: rgba(149, 110, 75, 0.6);
            +.swiper-pagination-bullet{margin-left: 10px;}
            }
            .swiper-pagination-bullet-active{
                background: $wine; height: 55px; width: 15px;}
        }
}
}

// #banner{}
#banner{
    // display: none;
    position: fixed; bottom: 0; left: 0; width: 100%; height: 15.625vw; z-index: 500;
    color: $beige;
    &::before{content: ""; display: inline-block; width: 100%; height: 6.770833333vw;background: $dark_brown; position: absolute; bottom: 0;left: 0;}
    img{display: inline-block; width: 15.625vw;  position: absolute; top: 0; left: 11.458333333vw; z-index:100;}    
    a{ display: inline-block; padding: 0 9.375vw;
        position: absolute; bottom :0px; left: 0; width: 100%;height: 6.770833333vw;
        text-align: center;
        strong{width: 54.166666667vw; font-size: 2.083333333vw; line-height: 6.770833333vw; padding-left: 4.6875vw;
            +strong{padding-left:1.5625vw;}
        }
        .f_w{color: #ffffff;}
        span{position: absolute; top: calc(50% - 1.822916667vw);right: 16.666666667vw; display: inline-block; font-size: 50px; color: #ffffff;width: 3.645833333vw;height: 3.645833333vw; border: 0.15625vw solid #fff; text-align: center; line-height: 3.385416667vw;}
        &:hover,&:focus{background: $wine; @include transition(all 0.3s);}
    }
}

// 태블릿
@media screen and (max-width: 1439px) and (orientation: landscape) {
    #cnt1{
        #videoBg{max-width: none;width: auto;height: 100%;}
        #t_videoBg, #m_videoBg{display: none;}
    }
}
@media screen and (max-width: 1439px) and (orientation: portrait) {
    #cnt1{
        #t_videoBg{display: block;width: 100%;}
        #videoBg, #m_videoBg{display: none;}
    }
}

@media screen and (max-width: 1439px) {
    #cnt1{
        position: relative;
        .main_video{
            height: 100vh;overflow: hidden;
            *{
                @include transform(translate(-50%, -50%));
                position: absolute;top: 50%;left: 50%;}
            }
    }

    //width: 100%; height: 300px; 
    // color: $beige;
    // &::before{  width: 100%; height: 130px;background: $dark_brown;  bottom: 0;left: 0;}
    // a{  padding: 0 180px;
    //      bottom :0px; left: 0; width: 100%;height: 130px;
        
    //     strong{width: 1040px; font-size: 40px; line-height: 130px; padding-left: 90px;
    //         +strong{padding-left:30px;}
    //     }
    //     .f_w{}
    //     span{ top: calc(50% - 35px);right: 320px;  font-size: 50px; width: 70px;height: 70px; border: 3px solid #fff;  line-height: 65px;}
    //     &:hover,&:focus{background: $wine; @include transition(all 0.3s);}


    #tm_banner {display: block; position: absolute; bottom: 0; left: 0;
        width: 100%; height: 60px; z-index: 500;
        color: $beige;
        &::before{content: ""; display: inline-block; width: 100%; height: 60px;background: $dark_brown; position: absolute; bottom: 0;left: 0;}
        a{ display: inline-block;
            position: absolute; bottom :0px; left: 0; width: 100%;height: 60px;
            text-align: center;
            strong{display: inline-block; font-size: 20px; line-height: 60px;
                +strong{margin-left: 5px;}
            }
            .f_w{color: #ffffff;}
            &:hover,&:focus{background: $wine; @include transition(all 0.3s);}
        }
    }
    #cnt2{ 
    
        #acco_box{overflow: hidden; margin-top: 1.5625vw; width: 100%;height: 100%;
            button{background: rgba(40, 30, 19, 0.8);}
        } 
        //.pc.hillAccodion
        .pc#acco_box{
         height: 500px;
        h3{width: 9.114583333vw; height: 500px;position: relative; float: left;
            button{
                position: relative; top: 200px;left: -210px; @include transform (rotate(90deg)); text-align: left; padding-left: 80px; font-size: 20px; padding-top: 10px;
                color: #ffffff; width: 500px; height: 7.8125vw;
                &::after{content:""; background:$beige; width: 0.520833333vw; height: 5.208333333vw; display: block; bottom: 0;right: 5.208333333vw; position: absolute;}
                &:hover,&:focus{background: rgba(130, 30, 30, 0.6);}
                &:focus::before{content: "";position: absolute; top: 0;left: 0;width: 100%;height: 100%; outline: 0.052083333vw dashed $wine;}
            }
        }
    
        .accopanel{
            height: 500px;width: 0.0vw; color: #ffffff;overflow: hidden; float: left;
            div{width: 50.520833333vw; margin-left: 7.81250vw;
            p{color: $beige; font-size: 20px; padding-top: 50px; line-height: 30px;}
            strong{display: block;   padding-top: 20px; font-size: 30px;}
            a{display: block; border: 0.052083333vw solid #fff; width: 130px; height: 40px; line-height: 40px; padding-left:20px; margin-top: 30px; position: relative; font-size: 16px;
            &:hover, &:focus{background-color: $wine; border: 0.052083333vw solid $wine; @include transition(all 0.3s);}
            }
            span{position: absolute; display: block; top: calc(50% - 7.5px);right: 18px; width:15px; height:15px; background-image: url("../images/common/arrow_right.svg") ;}
            }
        }
        &.bg1{background-image: url("../images/main/t/acco_1_gapcheon_t1.png") ;}
        &.bg2{background-image: url("../images/main/t/acco_2_manchon_t1.png") ;}
        &.bg3{background-image: url("../images/main/t/acco_3_gangil_t1.png") ;}
        &.bg4{background-image: url("../images/main/t/acco_4_pohang_t1.png") ;}
        }
    
    }
    #cnt3{ 
        margin-top: 30px; overflow: hidden;
        .left{
            display: block; margin: 0;
        .checklist{
           height: 200px;
            h5{padding-left: 100px; padding-top: 25px;font-size: 22px;}
            a{display: block; width:100%; height: 220px; 
                img{width: 30px;height: 25px; margin-left: 230px; margin-top: 20px;}
            }
            &::after{width: 530px; bottom: 80px; left:15%;} 
        }

        .notice{
            width: 100%; height: 350px; margin-top: 100px;
            a{ position: relative; display: block; margin-top: 30px; margin-left: 20px;
                h5{font-size: 28px; padding-left: 115px; padding-bottom: 10px;}
                img{width: 30px;height: 25px; margin-left: 390px; margin-top: 3px;}
                &::after{ margin: 0; width: 530px; bottom: -25px; left:100px; position: absolute;}
            }
            ul{ padding:40px 0 0 115px;
                li{font-size: 18px; white-space: nowrap;
                +li{margin-top: 22px;}
                }
            }
        }
        }
        .magazine{
            display: block; position: sticky; height: 400px; width: 100%;
            margin-top: 100px;
            .book{position: relative; width: 100%; height: 100%; z-index: 5;
                    img{width: 320px;height: 370px;margin-left: 230px;}
                }
            .stroke{display: block; width:400px;height:400px;
            top: 75px;left: 150px;
                h5{padding-top: 325px; padding-left: 30px; font-size: 23px;}
                img{width: 30px;height: 30px;margin-top: 320px;margin-left: 18px;}
        }
        }
        .hillstory{
                height: 300px; margin-top: 180px;
                .storybox{
                    a{
                    strong{font-size: 35px; letter-spacing: 15px; line-height: 50px; padding-top: 80px;}
                    div{height: 70px; width: 50%; padding-left: 0; bottom: -1px; line-height: 70px;
                    h5{font-size: 20px;}
                img{width: 25px;height: 25px; margin-top: 18px; margin-left: 18px;}}
                }
                }
        }
    }
    #cnt4{
        .pc_menu3{display: none;}
        .m_menu3{display: block;
            .swiper-wrapper{height: 700px;}
            .swiper-slide {
            strong{font-size: 35px;}
            ul li a{font-size: 25px;}
            }
        }
    }
    #banner{display: none;}
}

// 모바일
@media screen and (max-width: 767px) and (orientation: landscape) {
    #cnt1{
        #videoBg{display: block;max-width: none;width: 100%;height: auto;}
        #t_videoBg, #m_videoBg{display: none;}
    }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
    #cnt1{
        #m_videoBg{display: block;width: 100%;}
        #videoBg, #t_videoBg{display: none;}
    }
}

@media screen and (max-width: 767px) {
    #cnt_wrap{position: relative;}
    #cnt1{   
        .main_video{
            height: 100vh; overflow: hidden;
    } 
}
    #tm_banner {display: block; position: absolute; bottom: 0; left: 0;
        width: 100%; height: 40px; z-index: 500;
        color: $beige;
        &::before{content: ""; display: inline-block; width: 100%; height: 40px;background: $dark_brown; position: absolute; bottom: 0;left: 0;}
        a{ display: inline-block;
            position: absolute; bottom :0px; left: 0; width: 100%;height: 40px;
            text-align: center;
            strong{display: inline-block; font-size: 14px; line-height: 40px;
                +strong{margin-left: 5px;}
            }
            .f_w{color: #ffffff;}
            &:hover,&:focus{background: $wine; @include transition(all 0.3s);}
        }
    }
    #cnt3{ 
        margin-top: 30px;
        h5{font-size: 15px;}
        .left{
            display: block; margin: 0;
        .checklist{
            margin-top: 20px;
            h5{padding-left: 50px; padding-top: 13px; font-size: 16px;}
            a{display: block; width:100%; height: 100px; font-weight: 400;
                img{width: 20px;height: 25px; margin-left: 45px; margin-top: 8px;}
            }
            &::after{width: 260px; bottom: 135px; left:calc(50% - 130px);}
        }

        .notice{
            width: 100%; height: 200px; padding: 25px 30px 0 30px; margin-top: -50px;
            a{ position: relative; margin: 0;
                h5{font-size: 17px; padding-left: 30px; padding-top: 10px;}
                img{width: 20px;height: 25px; margin-left: 160px; margin-top: 5px;}
                &::after{ margin: 0; width: 270px; bottom: -10px; left:13px; position: absolute;}
            }
            ul{ padding: 35px 0 0 15px;
                li{font-size: 10px; white-space: nowrap;
                +li{margin-top: 22px;}
                }
            }
        }
        }
        .magazine{
            display: block;position: relative; height: 400px; width: 100%;
            margin-top: 50px;
            .book{position: relative; width: 100%; height: 100%; z-index: 5;
                    img{width: 230px;height: 260px;margin-left: 130px;}
                }
            .stroke{display: block; width:245px;height:245px;
            top: 80px;left: 100px; position: absolute;
                h5{padding-top: 205px; padding-left: 15px; font-size: 13px;}
                img{width: 18px;height: 20px;margin-top: 200px;margin-left: 20px;}
        }
        }
        .hillstory{
            height: 200px; margin-top: 10px;
            .storybox{
                a{
                strong{font-size: 18px; letter-spacing: 5px; line-height: 50px; padding-top: 35px;}
                div{height: 40px; width: 70%; padding-left: 0; bottom: -1px; line-height: 40px;
                h5{font-size: 15px;}
            img{width: 25px;height: 25px;}}
            }
        }
    }
}
    #cnt4{
        .pc_menu3{display: none;}
        .m_menu3{display: block; 
            .swiper-wrapper{height: 500px;}
            .swiper-slide {
                strong{font-size: 20px; height: 180px;
                line-height: 180px;
            &::after{bottom: 35px;}
            }
                ul li{
                    +li{margin-top: 40px;}
                    a{font-size: 18px;}
                }
                }
        }
    }
    #banner{position: absolute; bottom: 0;left: 0;}
}
